<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.fei_ke.devtools">

    <uses-permission android:name="com.samsung.android.providers.context.permission.WRITE_USE_APP_FEATURE_SURVEY"/>
    <uses-permission android:name="android.permission.GET_TASKS"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <receiver android:name=".provider.CocktailDevToolsProvider">
            <intent-filter>
                <action android:name="com.samsung.android.cocktail.action.COCKTAIL_UPDATE"/>
            </intent-filter>
            <intent-filter>
                <action android:name="com.fei_ke.devtools.action.btn_click"/>
            </intent-filter>

            <meta-data
                android:name="com.samsung.android.cocktail.provider"
                android:resource="@xml/devtools_cocktail"/>
        </receiver>

        <meta-data
            android:name="com.samsung.android.cocktail.mode"
            android:value="edge_extended"/>
    </application>

</manifest>
